/* @import url("box.css"); 직렬방식 (비선호)  */

div {
  font-size: 50px;
}

.jax {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  transition: 0.5s;
}

.teemo {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
}

.zed {

}


.jax:hover { /* 선택자 요소에 마우스 커서가 올라가 있는 동안 선택 */
  width: 200px;
  height: 200px;
  background-color: black;
}
 
.teemo:active {   /* 선택자 요소에 마우스를 클릭하고 있는 동안 선택 */
  background-color: mintcream;
}

.zed:focus {
  background-color: lightgrey;
}