/* @import url("box.css"); 직렬방식 (비선호)  */

div {
  font-size: 50px;
}

.jax {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  transition: 0.5s .5s; /* 지속시간, 대기시간 */
  font-size: 20px;
}

.jax::before {   /*  선택자 요소의 내부 앞에 내용(inline)을 삽입 */
  content: "wow ";
  font-size: 30px;
}


.jax::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: lightsalmon;
} 

.teemo {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
}

.zed {

}


.jax:hover { /* 선택자 요소에 마우스 커서가 올라가 있는 동안 선택 */
  width: 200px;
  height: 200px;
  background-color:lightpink;
}
 
.teemo:active {   /* 선택자 요소에 마우스를 클릭하고 있는 동안 선택 */
  background-color: mintcream;
}

.zed:focus {
  background-color: lightgrey;
}

[type="password"] {
  background-color: lemonchiffon;
}

[data-password-name] { /* data속성도 전역속성 */
  color: red;
}

.parent {
  width: 300px;
  height: 200px;
  background-color: red;
  display: flex; /* 지정 요소: container, 자식 요소: items */
}

.child {
  width: 100px;
  height: inherit;
  background-color: black;
  position: fixed;
  top: 100px;
  right: 10px;
}

.container {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  margin-left: 30px;
  perspective: 250px; /* 원근법 지정(부모 요소) */
}

.item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: rotateY(180deg);
  backface-visibility: hidden; /* 뒷면을 숨기기 */

  /* 가운데 정렬 */
  display: flex;
  justify-content: center; 
  align-items: center;
}